.App {
  text-align: center;
}
.header {
  float: right;
  margin-right: "100px";
  margin-top: "10px";
}
.products-container {
  text-align: initial;
  padding-top: 20vh;
  padding-left: 10vw;
  padding-bottom: 1vh;
  height: auto;
  background-color: #f9f3df;
}
.products-list {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 20px;
  padding-left: 0;
}
.products {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  margin: 0;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  font-weight: 500;
}

.add-product {
  padding: 5px;
  margin: 0;
}

.product-form {
  margin: 10% 30%;
  border: 3px solid gray;
  text-align: start;
  padding-left: 2%;
  padding-top: 5%;
  padding-bottom: 5%;

  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
}
label {
  text-align: right;
}
.submit {
  margin-top: 10px;
  text-align: center;
}

.login {
  margin-top: 20%;
}
.login input {
  padding: 5px;
}
.login button {
  margin-top: 10px;
  padding: 10px 30px 10px 30px;
}

.search-box {
  text-align: center;
}
.search {
  border: 2px solid rgb(131, 217, 243);
  outline: none;
  padding: 10px;
}
